@using StokMvc.Models.Entity
@model List<TBLMUSTERILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index","Musteri",FormMethod.Get))
            {
                <p>
                  <b>Aranacak Müşteri Adı:</b>  @Html.TextBox("p")
                    <input type="submit"value="Ara" />
                </p>
            }

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <table class="table" id="tbl1">



            <thead>
                <tr>
                    <th>Müsteri ID</th>
                    <th>Müsteri Adı</th>
                    <th>Müsteri Soyadı</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                    <th>Alert</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var mstr in Model)
                    {
                    <tr class="active">
                        <td>@mstr.MUSTERIID</td>
                        <td>@mstr.MUSTERIAD</td>
                        <td>@mstr.MUSTERISOYAD</td>
                        <td><a href="/Musteri/Sil/@mstr.MUSTERIID" class="btn btn-danger">SİL</a></td>
                        <td><a href="/Musteri/MusteriGetir/@mstr.MUSTERIID" class="btn btn-success">GÜNCELLE</a></td>
                        <td>
                            @Html.ActionLink("SİL BUTONU", "SIL", new { id = mstr.MUSTERIID }
                   , new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten Silmek İstiyormusunuz?')" })
                    </td>


                </tr>
            }


                </tbody>
            </table>
            <a href="/Musteri/YeniMusteri/" class="btn btn-primary">Yeni Müşteri Ekle</a>
           
    
    </div>

    </body>
</html>


