@using StokMvc.Models.Entity
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th>Ürün ID</th>
                    <th>Ürün Adı</th>
                    <th>Marka</th>
                    <th>Ürün Kategorisi</th>
                    <th>Ürün Fiyatı</th>
                    <th>Ürün Stoğu</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var urun in Model)
                    {
                    <tr class="active">
                        <td>@urun.URUNID</td>
                        <td>@urun.URUNAD</td>
                        <td>@urun.MARKA</td>
                        <td>@urun.TBLKATEGORILER.KATEGORIAD</td>
                        <td>@urun.FIYAT</td>
                        <td>@urun.STOK</td>
                        <td><a href="/Urun/Sil/@urun.URUNID" class="btn btn-danger">SİL</a></td>
                        <td><a href="/Urun/Güncelle/@urun.URUNID" class="btn btn-success">GÜNCELLE</a></td>

                    </tr>
                }


                </tbody>
            </table>
            <a href="/Urun/YeniUrunEkle/" class="btn btn-primary">Yeni Ürün Ekle</a>
        </div>

</body>
</html>
